.ranking {
  position: absolute;
  font-size: 35px;
  right: 590px;
  padding-top: 0.5rem;
  font-weight: bold;
}

#note-list {
  max-width: 68rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin: 2rem auto;
}

#note-list a {
  text-decoration: none;
}
.note {
  width: 50%;
  height: 140px;
  background-color: var(--color-primary-700);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0rem;
  border-radius: 4px;
  animation: fade-blur-in 1s ease-out forwards;
  transition: all 0.3s ease-out;
}

.note:hover {
  background-color: var(--color-primary-600);
  cursor: pointer;
  /* transform: translateY(-0.25rem); */
}

.note-meta {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary-300);
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin-bottom: 0.75rem;
  border-bottom: 2px solid var(--color-primary-300);
}

.note h2 {
  margin: 0 0 0 0;
  color: var(--color-primary-200);
}

.note p {
  margin: 0;
  color: var(--color-primary-100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/* CSS */
.button-1 {
  background: #ee6c4d;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 10px;
  min-height: 10px;
  outline: 0;
  padding: 5px 7px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-1:hover,
.button-1:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button-1:active {
  opacity: 0.5;
}

.space {
  padding-bottom: 10px;
}

.center {
  text-align: center;
}
